*{margin:0;padding:0;}
ul,li{list-style:none;}
.slide{height:150px;overflow:hidden;}
.slide ul{height:100%;}
.slide li{height:100%;}
.slide li:nth-child(1){background:#faa;}
.slide li:nth-child(2){background:#afa;}
.slide li:nth-child(3){background:#aaf;}
.slide li:nth-child(4){background:#faf;}
